[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
flask-cors = "*"
gunicorn = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
