@media only screen and (min-width: 500px) {
  
  .matte-container {
    position: relative;
    height: 100%;
  }

  .matte-left,
  .matte-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15rem;
    z-index: 1;
  }

  .matte-left {
    left: 0;
    background: linear-gradient(to right, rgba(91,126,135,1), rgba(91,126,135,0));
  }

  .matte-right {
    right: 0;
    background: linear-gradient(to left, rgba(91,126,135,1), rgba(91,126,135,0));
  }
}

p {
  text-indent: 12px;
}
